
#professional-challenges p{
    display: flex;
    
}

.evolua{
    margin-top: 118px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.19em;


    
    
    color: #33A8DB;
}

.missao{
    width: 792px;
    height: 38px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;


    margin-bottom: 91px;
}